body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --header-color: #ffffff;
  --main-text-color-dark: #9da4bd;
  --acent-color: #ff6c00;
  --title-color: #303030;
  --main-text-color-light: #555555;
  --suptitle-text-color-light: #303030;
  --suptitle-text-color: rgba(157, 164, 189, 0.6);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}
img {
  display: block;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*                                      HEADER                             */
.header {
  background-color: teal;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .container {
  display: flex;
  outline: 2px solid black;
  align-items: center;
}
.logo {
  width: 69px;
  height: 55px;
  margin-right: 71px;
}
.nav-site {
  display: flex;
  align-items: center;
  outline: 1px solid tomato;
}

.nav-list {
  display: flex;
  outline: 1px solid tomato;
  align-items: center;
}
.nav-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  padding: 20px 0;
  /*color: var(--header-color);*/
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--acent-color);
}
.contact-list {
  display: flex;
  outline: 1px solid tomato;
  margin-left: auto;
  align-items: center;
}

.contact-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-right: 40px;
  padding: 20px 0;
  /*color: var(--header-color);*/
}
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}
.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  min-width: 160px;
  padding: 12px 20px;
  /*color: var(--header-color);*/
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--acent-color);
}
/*                                         HERO                                */
.hero {
  background-color: turquoise;
  /*padding-top: 184px;
  padding-bottom: 206px;*/
}
.hero > .container {
  display: flex;
  align-items: center;
}
.hero-left {
  width: 100px;
  outline: 1px solid tomato;
}
.hero-right {
  flex-grow: 1;
  outline: 1px solid black;
  padding: 100px 30px;
}
.media-list {
}
.media-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--suptitle-text-color-light);
}

.media-link:hover,
.media-link:focus {
  color: var(--acent-color);
}
.common-suptittle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--suptitle-text-color);
}
.hero-title {
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /*color: var(--header-color);*/
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color-dark);
}
/*                                           ABOUT                                 */
.about-suptitle {
  color: var(--suptitle-text-color-light);
}
.about-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--suptitle-color);
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color-light);
}
.about-text-second {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--main-text-color-light);
}
.about-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--suptitle-color);
}
.about-button:hover,
.about-button:focus {
  background-color: var(--acent-color);
  color: #ffffff;
}
/*                                      SERVICES AND PRICES                             */
.services-suptitle {
  color: var(--suptitle-text-color);
}
.services-tittle {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.services-prices {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color-dark);
}
/*                                      ADVANTAGES                            */
.advantages-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--suptitle-text-color-light);
}
.advantages-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--suptitle-text-color-light);
}
.advantages-suptittle {
  color: var(--suptitle-text-color-light);
}

.advantages-tittle {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--suptitle-text-color-light);
}
.advantages-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--main-text-color-light);
}
/*                                      TEAM                            */
.team-suptittle {
  color: var(--suptitle-text-color-light);
}
.team-tittle {
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-color);
}
.masters-tittle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.masters-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
